*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url(3876089.jpg);
    height: 150vh;
    background-size: cover;
    background-repeat: no-repeat;
}
form{
    position: relative;
    top: 100px;
    left: 35%;
    width: 600px;
    height: 800px;
    display: block;

}
#lbl{
    color: rgb(235, 213, 173);
    font-size: 30px;
    font-family: "JelleeBold";

}
#input{
    border: none;
    border-radius: 10px;
    width: 400px;
    height: 40px;
    opacity: 70%;
    font-size: 20px;
    margin: 10px;
    padding: 5px 10px;
}
#lang{
    border: none;
    border-radius: 10px;
    height: 20px;
    width: 150px;
}
span{
    font-size: 40px;
    color: rgb(235, 213, 173);
    font-family: "JelleeBold";
}
#typ{
    font-size: 25px;
    color: rgb(235, 213, 173);
    margin: 25px;

}
#btn{
    border: none;
    width: 180px;
    height: 50px;
    background-color: #9f6f52;
    border-radius: 20px;
    position: relative;
    left: 15%;
    margin: 20px;
}
table{
    width: auto;
    border: 1px solid #9f6f52;
    border-radius: 5px;
    margin: 30px 70px;
    border-spacing: 1px ;
}
table thead{
    border: 1px;
}
thead th{
    padding: 10px;
    width: 20px;
    border: 1px solid #9f6f52;

}
tbody td{
    padding: 15px;
    border: 1px solid #9f6f52;
}
